/* Mesaj kutusu */
.message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: none; /* Başta gizli */
    text-align: center;
}

.message.success {
    background: #2ecc71;
    color: white;
}

.message.error {
    background: #e74c3c;
    color: white;
}
